body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa; /* Нежно-голубой фон */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

h1 {
    font-size: 2em; /* Крупный заголовок */
    color: #00796b;
}

.logo {
    width: 100px;
    margin-bottom: 20px;
}

.field {
    margin: 10px 0;
    text-align: left;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.value {
    padding: 8px;
    background-color: #f1f1f1;
    border-radius: 5px;
}

.back-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-button:hover {
    background-color: #004d40;
}
